@implements IDisposable
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject Booking.Data.BookingDbContext DbContext

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="top-row ps-3 navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    <img src="@($"/divisions/{DivisionId}/main_logo.png")" class="w-100"/>
                    <div class="text-center w-100" style="color:#0D2C99;">Booking</div>
                </a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" @onclick:preventDefault="true">Select Division</a>
            <ul class="dropdown-menu">
                @foreach (string div in divisions)
                {
                    <li><a class="dropdown-item" href="@div">@div</a></li>
                }
            </ul>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@DivisionId" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="@($"{DivisionId}/events/upcoming")" Match="NavLinkMatch.All">
                Upcoming event
            </NavLink>
        </div>
        <RoleAuthorizeView Roles="@(new[] { "ADMIN", "DIR", "EVENT", "ATC", "FLIGHT" })">
            <Authorized>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" @onclick:preventDefault="true">Administration</a>
                    <ul class="dropdown-menu">
                        <RoleAuthorizeView Roles="@(new[] { "EVENT" })">
                            <Authorized>
                                <li><NavLink class="dropdown-item" href="@($"{DivisionId}/events/admin")">Manage Events</NavLink></li>
                            </Authorized>
                        </RoleAuthorizeView>
                        <RoleAuthorizeView Roles="@(new[] { "DIR" })">
                            <Authorized>
                                <li><NavLink class="dropdown-item" href="@($"{DivisionId}/administrators/users")">Manage Administrators</NavLink></li>
                            </Authorized>
                        </RoleAuthorizeView>
                        <RoleAuthorizeView Roles="@(new[] { "ATC" })">
                            <Authorized>
                                <li><NavLink class="dropdown-item" href="@($"{DivisionId}/positions/admin")">Manage ATC positions</NavLink></li>
                            </Authorized>
                        </RoleAuthorizeView>
                    </ul>
                </div>
            </Authorized>
        </RoleAuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item">
                    <NavLink class="nav-link" href="logout" Match="NavLinkMatch.All">
                        Logout
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item">
                    <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                        Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>
@code {
    public string DivisionId { get; set; } = default!;
    private string? currentUrl;
    private List<string> divisions = default!;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
        divisions = DbContext.Administrators.Select(a => a.DivisionId).Distinct().ToList()!;
    }
    protected override void OnParametersSet()
    {
        var segments = currentUrl!.ToUpper().Split('/', StringSplitOptions.RemoveEmptyEntries);
        var divId = segments.FirstOrDefault();
        if (divId is null)
        {
            NavigationManager.NavigateTo("IL");
        }
        else
        {
            DivisionId = divId;
        }
    }
    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

